.contact {
  display: flex;
}

.contactDetails {
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.contactDetailsPair {
  display: flex;
  margin-bottom: $spacing-2;

  &-inline {
    margin-bottom: 0;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }
}

.googleMap {
  flex-basis: 40%;
}

@include mediaMd {
  .contact {
    flex-direction: column;
  }

  .contactDetails {
    padding: 2rem 0;
  }
}