$color-light: #f2f2f2;
$color-dark: #2c2c2c;
$color-primary: #da1e1e;

$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 2rem;
$spacing-4: 3rem;
$spacing-5: 5rem;

/* Media queries */
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}