.header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  h1, h2 {
    color: $color-light;
  }
}

.headerImage {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  height: 100%;
  position: relative;
  z-index: 9;
}

.headerContentContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  position: relative;
  z-index: 10;
  padding: 0 $spacing-2;

  h1 {
    text-transform: uppercase;
    font-weight: 500;
  }

  h2 {
    font-weight: 400;
  }
}

@include mediaMd {
  .headerContentContainer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}