.nav {
  display: flex;
  flex-direction: column;

  a, p {
    margin: 0;
    text-decoration: none;
    color: $color-light;
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  background: $color-dark;
  color: $color-light;
}

.navInfo {
  background: $color-primary;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0;
}

