.services {
  display: flex;
  flex-direction: column;

  .service:not(:last-child) {
    margin-bottom: $spacing-5;
  }
}

.service {
  display: flex;
  height: 350px;

  &:nth-child(2) .serviceImage {
    order: -1;
    clip-path: polygon(
      0 0,
      calc(100% - 70px) 0,
      100% 100%,
      0 100%
    );
  }
}

.serviceImage {
  height: 350px;
  flex-basis: 40%;
  clip-path: polygon(
    70px 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

.serviceContent {
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

@include mediaMd {
  .service {
    height: auto;
    flex-direction: column;

    &:nth-child(2) .serviceImage {
      order: 0;
      clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%
      );
    }
  }

  .serviceImage {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%
    );
  }

  .serviceContent {
    margin-bottom: $spacing-4;
  }
}