.services {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-4;
}

.service {
  display: flex;
  height: 350px;

  &:nth-child(2) .serviceImage {
    order: -1;
  }
}

.serviceImage {
  height: 100%;
  flex-basis: 40%;
}

.serviceContent {
  flex-basis: 60%;
  display: flex;
  align-items: center;
}