.testimonials {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.testimonialsContent {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  color: $color-light;
  position: relative;
  z-index: 10;
}

.testimonialsImage {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  position: relative;
  z-index: 9;
}

.testimonialsOverlay {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}