@import 'config';

body {
  background: $color-light;
  color: $color-dark;
}

hr {
  border: 0;
  height: 2px;
  background: $color-primary;
}

.container {
  margin: 0 auto;
  
  &-xs {
    max-width: 420px;
  }

  &-sm {
    max-width: 580px;
  }

  &-md {
    max-width: 820px;
  }
}

/* Text */
.text-center {
  text-align: center;
}

/* Sizing */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

/* Imports at the end to ensure they are applied */
@import 'nav';
@import 'header';
@import 'about';
@import 'services';
@import 'testimonials';
@import 'contact';
@import 'footer';